@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  text-align: center;background-color: var(--header-colors);

}

:root {
  --header-font: "Oswald", serif;
  --body-font: "Roboto" , serif;
  --header-colors: rgb(3, 0, 0);
  --body-colors: rgb(255, 166, 0);
  --text-colors: rgb(255, 255, 255);

}

.header {
  text-align: center;
  background-color: var(--body-colors);
  font-family: var(--header-font);
  color: white;
}

p {
  color: var(--text-colors);
}